<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.bandb.costinator"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/euro_app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="de.bandb.costinator.Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.bandb.costinator.Costgroup"
            android:label="@string/title_activity_costgroup" >
        </activity>
        <activity
            android:name="de.bandb.costinator.NewCostgroup"
            android:label="@string/title_activity_new_costgroup" >
        </activity>
        
        <activity
            android:name="de.bandb.costinator.CostgroupBusinessAssesment"
            android:label="@string/title_activity_business_assesment" >
        </activity>
        <activity
            android:name="de.bandb.costinator.CostgroupBusinessAssesment"
            android:label="@string/title_activity_costgroup_business_assesment" >
        </activity>
        <activity
            android:name="de.bandb.costinator.NewCostelement"
            android:label="@string/title_activity_new_costelement_periodical"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity android:name="org.achartengine.GraphicalActivity" />
    </application>

</manifest>
